/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #8fb3e9;
    padding: 20px;
    display: flex; /* flex */
    align-items: normal; /*center*/
    justify-content: space-between;
    /* width: 100%; */
    text-align: center;
    /* height: 70px;*/
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
    display: flex;
    flex-direction: row;
    float: left;
  }
  
  nav ul li {
    /*display: flex;*/
    float: left;
    margin-right: 10px;
    list-style: none;
    /* width: 100px; */
  }

  nav li {
    list-style: none;
    float: left;
  }
  
  nav a {
    /*display: inline-block;*/
    text-decoration: none;
    color: #333;
    font-weight: bold;
    float: left;
    /* text-align: center;
    vertical-align: middle; */
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }
  
  h1 {
    font-family: Georgia, serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    /*margin: 20px 20px 20px 20px;*/
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
    color:#ffffff;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100px; 
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: #7395f2;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  
  button:hover {
    background-color: #7395f2;
  }
  
  /* Basic CSS for the report section */
  
  #report,#result {
    padding: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
#result{
  height: 400px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
  #result img{
    width: 200px;
    height: 100px;
  }

h2{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 65px;
    letter-spacing: -1.6px;
    word-spacing: 4.8px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
    margin: 20px 20px 20px 20px;
}

p{
    color: #ffffff;
    margin: 12px 12px 12px 20px;
}

h3{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 52px;
    letter-spacing: -1.6px;
    word-spacing: 4.8px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    margin: 20px 20px 20px 20px;
}

h4{
    font-family: "Arial", Gadget, sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    margin: 20px 20px 20px 20px;
}

 #aboutText{
    width:1000px;
    margin: 25px 25px 25px 50px;
    float:left;
    }

    .about{
        background: rgba(0,0,0,0.3);
        margin: 25px 25px 25px 25px;
    }
#team{
        margin: 120px 5px 5px 5px;
        float:left;
        width: 95%;
    }

h3, #member1, #member2, #member3 {
    float:left; 
    display:inline; 
    width: 20%;
}

#contactForm {
    float:left;
    display:inline;
    width:45%;
}

#team{
    margin-left: 100px;
}

#member1, #member2, #member3 {
    background: rgba(0,0,0,0.5); 
    border-radius: 25px; 
    margin: 25px 25px 25px 25px;
}

.role{
    color: #ffffff; 
    background-color:#395295; 
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-weight:bold;
    font-size: 11px; 
    border-radius: 10px;
    height: 30px;
}

form{
    background: rgba(0,0,0,0.1);
    margin: 25px 25px 25px 25px;
}

#keywordInput{
    width: 300px;
}

.searchRecommendation{
    color: #ffffff; 
}